<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/aboutus.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Prediction Form</a>
        </nav>
    </header>
    <div class="content">
        <section class="team">
            <div class="team-member">
                <h2>Đoàn Hữu Hoan</h2>
                <p>Mã sinh viên: 21000517</p>
                <p>Vai trò: Thu thập dữ liệu, tổ chức và xử lý dữ liệu, xây dựng mô hình</p>
            </div>
            <div class="team-member">
                <h2>Ngô Hữu Hiếu</h2>
                <p>Mã sinh viên: 21001547</p>
                <p>Vai trò: Thu thập dữ liệu, tổ chức và xử lý dữ liệu, xây dựng mô hình</p>
            </div>
            <div class="team-member">
                <h2>Dương Quang Khải</h2>
                <p>Mã sinh viên: 21001556</p>
                <p>Vai trò: Thu thập dữ liệu, tổ chức và xử lý dữ liệu, xây dựng mô hình</p>
            </div>
        </section>
    </div>
</body>
</body>
</html>
